
<mat-card>
  <table>
    <thead>
      <th >Reservation type : </th>
      <th >Name : </th>
      <th >Start date : </th>
      <th >End date :</th>
      <th >Price </th>
    </thead>
    <tbody>
          <tr *ngFor="let r of reservations">
            <td>{{r.reservationType}}</td>  
            <td>{{r.startTime}}</td>
            <td>{{r.endTime}}</td>
            <td>{{r.price}}</td>  

 
            <button (click) = "rate(r)">Rate</button>
            <button (click) = "complain(r)">Write complain</button>
          </tr>
  
    </tbody>
  </table>
  </mat-card>