

<mat-card> 
    <mat-card-content>
      <form novalidate class="form-inline">
          <div class="container">
              <div class="row">
                <h2 class="title">List of adventures to subscribe(those who have actions)</h2>
                <table matSort >
                  <thead>
                  <tr> 
                    <th>Id</th>
                    <th>Description</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Instructor email</th>
                    
                    
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let adventureWithActions of adventuresWithActions" >
                    <td>{{adventureWithActions.id}}</td>
                    <td>{{adventureWithActions.description}}</td>
                    <td>{{adventureWithActions.name}}</td>
                    <td>{{adventureWithActions.address}}</td>
                    <td>{{adventureWithActions.instructorInfo.email}}</td>
                    <td>
                      <div id="starsRow" >
                        <i class="material-icons">star</i>
                      </div>
                    </td>
                    
                    <button id="eyeBtnDetails" (click)="subscribeToAdventure(adventureWithActions.id,adventureWithActions.instructorId)" > Subscribe</button>
                    
                   
                    
                  </tr>
                  </tbody>
                </table>




                <h2 class="title">List of all available actions for booking(provided by instructor)</h2>
               
                <div class="search-hero">
                  <input class="form-control" type="text" [(ngModel)]="searchText" style="font-family:Arial, FontAwesome" name="search"  autocomplete="off" placeholder="&#xF002; Search">
                </div>

                



                <table matSort >
                  <thead>
                  <tr> 
                    <th >Start time for action</th>
                    <th >End time for action</th>
                    <th>Additional services</th>
                    <th>Exact place for action</th>
                    <th>Instructor email</th>
                    <th></th>
                    
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let action of allActions | filter:searchText" >
                    <td>{{action.startTime}}</td>
                    <td>{{action.endTime}}</td>
                    <td>{{action.additionalAdvServices}}</td>
                    <td>{{action.exactPlace}}</td>
                    <td>{{action.instructorEmail}}</td>
                    <td>
                      <div id="starsRow" >
                        <i class="material-icons">star</i>
                      </div>
                    </td>
                    
                    <button id="eyeBtnDetails" (click)="viewActionDetails(action.id)" > View details</button>
                    <button id="eyeBtn" (click)="reserveAction(action.id)">Reserve</button>
                   
                    
                  </tr>
                  </tbody>
                </table>

                <br>
                <br>
                <h2 class="title">List of booked actions</h2>
                
                <table matSort >
                  <thead>
                  <tr> 
                    <th >Start time for action</th>
                    <th >End time for action</th>
                    <th>Additional services</th>
                    <th>Exact place for action</th>
                    <th>Instructor email</th>
                    <th></th>
                    
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let actionBooked of allBookedActions | filter:searchText" >
                    <td>{{actionBooked.startTime}}</td>
                    <td>{{actionBooked.endTime}}</td>
                    <td>{{actionBooked.additionalAdvServices}}</td>
                    <td>{{actionBooked.exactPlace}}</td>
                    <td>{{actionBooked.instructorEmail}}</td>
                    <td>
                      <div id="starsRow" >
                        <i class="material-icons">star</i>
                      </div>
                    </td>
                    
                    <button id="eyeBtnDetails" (click)="viewActionDetails(actionBooked.id)" > View details</button>
                    <button id="eyeBtn" (click)="cancelBooking(clientId,actionBooked.id)" *ngIf="actionBooked.isExpired==false">Cancel</button>
                    <button id="eyeBtnDisabled" disabled title="Action is expired!" *ngIf="actionBooked.isExpired==true">Cancel</button>
                    
                  </tr>
                  </tbody>
                </table>


                <br>
                <br>
                <br>
                <h2 class="title">List of instructors for revision/mark </h2>
                
                <table matSort >
                  <thead>
                  <tr > 
                    <th >Id</th>
                    <th >First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Country</th>
                   
                    
                    <th>Has revision/mark</th>
                    
                    
                    
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let instructorForRevision of allInstructorsForRevision | filter:searchText" >
                    <td>{{instructorForRevision.id}}</td>
                    <td>{{instructorForRevision.firstName}}</td>
                    <td>{{instructorForRevision.lastName}}</td>
                    <td>{{instructorForRevision.email}}</td>
                    <td>{{instructorForRevision.address}}</td>
                    <td>{{instructorForRevision.city}}</td>
                    <td>{{instructorForRevision.country}}</td>
                   
                    <td>{{instructorForRevision.hasRevisionFromClient}}</td>
                   
                    
                   
                    <td>
                      <div id="starsRow" >
                        <i class="material-icons">star</i>
                      </div>
                    </td>
                    
                    <button id="eyeBtnDetailsRevision"  *ngIf="instructorForRevision.hasRevisionFromClient==false" (click)="addRevisionMark(instructorForRevision.id,clientId)"> Add revision/mark</button>
                    <button id="eyeBtnDetailsRevision"  *ngIf="instructorForRevision.hasRevisionFromClient==true" (click)="viewRevisionMark(instructorForRevision.id,clientId)"> View revision/mark</button>
                    
                    
                   
                    
                  </tr>
                  </tbody>
                </table>
               <br>
               <br>
               <br>

               <h2 class="title">List of instructors for complaint </h2>

               <table matSort >
                <thead>
                <tr > 
                  <th >Id</th>
                  <th >First name</th>
                  <th>Last name</th>
                  <th>Email</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>Country</th>
                 
                  
                  <th>Has complaint</th>
                  
                  
                  
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let instructorForRevision of allInstructorsForRevision | filter:searchText" >
                  <td>{{instructorForRevision.id}}</td>
                  <td>{{instructorForRevision.firstName}}</td>
                  <td>{{instructorForRevision.lastName}}</td>
                  <td>{{instructorForRevision.email}}</td>
                  <td>{{instructorForRevision.address}}</td>
                  <td>{{instructorForRevision.city}}</td>
                  <td>{{instructorForRevision.country}}</td>
                 
                  <td>{{instructorForRevision.hasComplaint}}</td>
                 
                  
                 
                  <td>
                    <div id="starsRow" >
                      <i class="material-icons">star</i>
                    </div>
                  </td>
                  
                  <button id="eyeBtnDetailsComplaint" *ngIf="instructorForRevision.hasComplaint==false" (click)="addComplaint(clientId,instructorForRevision.id)" > Add complaint</button>
                  <button id="eyeBtnDetailsComplaint" *ngIf="instructorForRevision.hasComplaint==true"  (click)="viewComplaint(clientId,instructorForRevision.id)"> View complaint</button>

                  
                  
                 
                  
                </tr>
                </tbody>
              </table>

                
              </div>
            </div>
      </form> 
    </mat-card-content>
  </mat-card>
