<form role="form" novalidate class="form-inline" >
    

  <button mat-button routerLink="reserve" id="firstButton">New reservation</button>
  <button mat-button routerLink="action">New action</button>
  <button mat-button routerLink="future-reservations">Future reservations</button>
  <button mat-button routerLink="past-reservations">Past reservations</button>
  <button mat-button routerLink="delete">Delete boat</button>
  <button mat-button (click)="editBoat()" *ngIf="!editButtonClicked">Edit boat</button>
  
      <div class="form-group">
          <h1 id="name">{{boat.name}}</h1>	
          <input type="text" id="name1" *ngIf="editButtonClicked" name="name" [(ngModel)]="name">
          <ng-image-slider [images]="imgCollection" #nav></ng-image-slider>							
      </div>

      <form *ngIf="editButtonClicked" id="uploadForm">
          <h4>Add boat images</h4>
          <div class="row">
            <div class="col-8">
              <label class="btn btn-default p-0">
                <input type="file" accept="image/*" multiple (change)="selectFiles($event)" />
              </label>
            </div>
          </div>
          <div>
            <img *ngFor='let preview of previews' [src]="preview" class="preview">
          </div>
      </form>
  
      <div class="form-group">
          <label>Address</label>
          <label>{{boat.address}}</label>
          <input type="text" id="address" *ngIf="editButtonClicked" name="address" [(ngModel)]="address">								
      </div>
      <div class="form-group">
        <label>Type</label>
        <label>{{boat.boatType}}</label>
        <mat-form-field appearance="fill" *ngIf="editButtonClicked">
          <mat-label>Choose boat type</mat-label>
          <mat-select>
              <mat-option (click)="selectFerry()" value="Ferry">Ferry</mat-option>
              <mat-option (click)="selectCatamaran()" value="Catamaran">Catamaran</mat-option>
              <mat-option (click)="selectYacht()" value="Yacht">Yacht</mat-option>
          </mat-select> 
        </mat-form-field>  
      </div>
      <div class="form-group">
        <label>Cancel reservation</label>
        <label>{{boat.cancelationType}}</label>
        <mat-form-field appearance="fill" *ngIf="editButtonClicked">
          <mat-label>Choose cancelation type</mat-label>
          <mat-select>
              <mat-option (click)="selectFree()" value="Ferry">Free</mat-option>
              <mat-option (click)="selectPercentage()" value="Catamaran">Owner retains percentage</mat-option>
          </mat-select> 
        </mat-form-field>
      </div>

      <div class="form-group">
        <label>Price for one day stay</label>
        <label>{{boat.oneDayPrice}} $</label>
        <mat-form-field id="maxNumPers" *ngIf="editButtonClicked">
            <input [(ngModel)]="oneDayPrice" name="oneDayPrice" matInput placeholder="Price for one day stay $">
        </mat-form-field>									
    </div> 

    <label>Checkout time</label>
  <label>{{boat.checkout}}</label>
  <div class="toggle-custom-icon-example"  *ngIf="editButtonClicked">
    <input [ngxTimepicker]="toggleIcon" [disableClick]="true" [(ngModel)]="time" name="time"
    placeholder="Checkout time">
    <ngx-material-timepicker-toggle [for]="toggleIcon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px" ngxMaterialTimepickerToggleIcon>
            <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,16H7.995 C7.445,16,7,15.555,7,15.005v-0.011C7,14.445,7.445,14,7.995,14H14V5.995C14,5.445,14.445,5,14.995,5h0.011 C15.555,5,16,5.445,16,5.995V16z"/>
        </svg>
    </ngx-material-timepicker-toggle>
    <ngx-material-timepicker #toggleIcon></ngx-material-timepicker>
  </div>
      
      <div class="form-group">
          <label>Rate</label>
          <label>
            <div id="starsRow" *ngFor="let i of starNamesFunc(boat.rate)">
              <i class="material-icons">star_{{i}}</i>
            </div>
          </label>							
      </div>

      <div class="form-group">
        <label>Capacity</label>
        <label>{{boat.capacity}}</label>
        <mat-form-field id="maxNumPers" *ngIf="editButtonClicked">
            <input [(ngModel)]="capacity" type="number" min="1" max="20" name="capacity" matInput placeholder="Capacity">
        </mat-form-field>									
      </div> 

      <div class="form-group">
        <label>Number of motors</label>
        <label>{{boat.numberOfMotors}}</label>
        <mat-form-field id="maxNumPers" *ngIf="editButtonClicked">
            <input [(ngModel)]="numberOfMotors" type="number" min="1" max="20" name="numberOfMotors" matInput placeholder="Number of motors">
        </mat-form-field>									
      </div> 
      <div class="form-group">
        <label>Engine power</label>
        <label>{{boat.motorPower}}</label>
        <mat-form-field id="maxNumPers" *ngIf="editButtonClicked">
            <input [(ngModel)]="motorPower" name="motorPower" matInput placeholder="Engine power">
        </mat-form-field>									
      </div> 
      <div class="form-group">
        <label>Max speed</label>
        <label>{{boat.maxSpeed}}</label>
        <mat-form-field id="maxNumPers" *ngIf="editButtonClicked">
            <input [(ngModel)]="maxSpeed" name="maxSpeed" matInput placeholder="Max speed">
        </mat-form-field>									
      </div> 
      <div class="form-group">
          <h1>Our boat</h1>
          <label>{{boat.description}}</label>								
          <mat-form-field *ngIf="editButtonClicked">
              <input [(ngModel)]="description" name="description" matInput placeholder="Description">
          </mat-form-field>    
      </div>    
      <div class="form-group">
          <h1>What this place offers</h1>	
          <label *ngFor="let amenity of amenities">
              <i class="material-icons">{{amenity.icon}}</i>
              {{amenity.name}}</label>                 
      </div>
      <div *ngIf="editButtonClicked">
          <h4>Select amenities</h4>
          <select multiple name="amenities" [(ngModel)]="boat.amenities">
            
            <option *ngFor="let amenity of amenities1" [value]="amenity.value">
              {{amenity.display}}
            </option>
          </select>
      </div>
      <div class="form-group">
        <h1>Navigation equipment</h1>	
        <label *ngFor="let eq of navEquipment">
            <i class="material-icons">{{eq.icon}}</i>
            {{eq.name}}</label>                 
      </div>
      <div *ngIf="editButtonClicked">
          <h4>Select navigation equipment</h4>
          <select multiple name="equipment" [(ngModel)]="boat.navigationEquipment">
            
            <option *ngFor="let eq of eq1" [value]="eq.value">
              {{eq.display}}
            </option>
          </select>
      </div>
      <div class="form-group">
        <h1>Fishing equipment</h1>	
        <label *ngFor="let eq of fishEquipment">
            <i class="material-icons">{{eq.icon}}</i>
            {{eq.name}}</label>                 
      </div>
      <div *ngIf="editButtonClicked">
          <h4>Select fishing equipment</h4>
          <select multiple name="equipment" [(ngModel)]="boat.fishingEquipment">
            
            <option *ngFor="let eq of eq2" [value]="eq.value">
              {{eq.display}}
            </option>
          </select>
      </div>
      <div class="form-group">
          <h1>Behavioral rules</h1>	
          <label *ngFor="let rule of rules">
              <i class="material-icons">{{rule.icon}}</i>
              {{rule.name}}</label>                 
      </div>  
      <div *ngIf="editButtonClicked">
          <h4>Select rules</h4>
          <select multiple name="services" [(ngModel)]="boat.additionalServices" id="secondSelect">
            
            <option *ngFor="let service of services" [value]="service.value">
              {{service.display}}
            </option>
          </select>
      </div>
      
      <div class="form-group">
        <h1>Income from this cottage</h1>	
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Pick period</mat-label>
          <mat-date-range-input
            [formGroup]="pickPeriod"
            [rangePicker]="periodPicker">
            <input matStartDate placeholder="Start date" formControlName="start">
            <input matEndDate placeholder="End date" formControlName="end">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="periodPicker"></mat-datepicker-toggle>
          <mat-date-range-picker touchUi  #periodPicker></mat-date-range-picker>
        </mat-form-field>
      <button mat-raised-button type="submit" (click)="findIncome()" >Submit</button> 
      <label><b>Income for this period is {{income}}$.</b></label>       
    </div>

    <ngx-charts-bar-vertical 
      [view]="[1000,400]"
      [results]="weekly"
      [xAxisLabel]="'Weekday'"
      [yAxisLabel]="'Number'"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [gradient]="true">
    </ngx-charts-bar-vertical>

    <ngx-charts-bar-vertical 
      [view]="[1000,400]"
      [results]="monthly"
      [xAxisLabel]="'Month'"
      [yAxisLabel]="'Number'"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [gradient]="true">
    </ngx-charts-bar-vertical>
      
    <button mat-button id="submitButton" type="submit" (click)="onSubmit()" *ngIf="editButtonClicked">Submit</button>
  </form>
  
  
  