<form role="form" novalidate class="form-inline" >
    

  <button mat-button routerLink="reserve" id="firstButton">New reservation</button>
  <button mat-button routerLink="action">New action</button>
  <button mat-button routerLink="future-reservations">Future reservations</button>
  <button mat-button routerLink="past-reservations">Past reservations</button>
  <button mat-button routerLink="delete">Delete boat</button>
  <button mat-button (click)="editBoat()" *ngIf="!editButtonClicked">Edit boat</button>
  
      <div class="form-group">
          <h1>{{boat.name}}</h1>	
          <input type="text" id="name" *ngIf="editButtonClicked" name="name" [(ngModel)]="name">
          <ng-image-slider [images]="imgCollection" #nav></ng-image-slider>							
      </div>

      <form *ngIf="editButtonClicked" id="uploadForm">
          <h4>Add boat images</h4>
          <div class="row">
            <div class="col-8">
              <label class="btn btn-default p-0">
                <input type="file" accept="image/*" multiple (change)="selectFiles($event)" />
              </label>
            </div>
          </div>
          <div>
            <img *ngFor='let preview of previews' [src]="preview" class="preview">
          </div>
      </form>
  
      <div class="form-group">
          <label>Address</label>
          <label>{{boat.address}}</label>
          <input type="text" id="address" *ngIf="editButtonClicked" name="address" [(ngModel)]="address">								
      </div>
      <div class="form-group">
        <label>Type</label>
        <label>{{boat.boatType}}</label>
        <mat-form-field appearance="fill" *ngIf="editButtonClicked">
          <mat-label>Choose boat type</mat-label>
          <mat-select>
              <mat-option (click)="selectFerry()" value="Ferry">Ferry</mat-option>
              <mat-option (click)="selectCatamaran()" value="Catamaran">Catamaran</mat-option>
              <mat-option (click)="selectYacht()" value="Yacht">Yacht</mat-option>
          </mat-select> 
        </mat-form-field>  
      </div>
      <div class="form-group">
        <label>Cancel reservation</label>
        <label>{{boat.cancelationType}}</label>
        <mat-form-field appearance="fill" *ngIf="editButtonClicked">
          <mat-label>Choose cancelation type</mat-label>
          <mat-select>
              <mat-option (click)="selectFree()" value="Ferry">Free</mat-option>
              <mat-option (click)="selectPercentage()" value="Catamaran">Owner retains percentage</mat-option>
          </mat-select> 
        </mat-form-field>
      </div>

      <div class="form-group">
        <label>Price for one day stay</label>
        <label>{{boat.oneDayPrice}} $</label>
        <mat-form-field id="maxNumPers" *ngIf="editButtonClicked">
            <input [(ngModel)]="oneDayPrice" name="oneDayPrice" matInput placeholder="Price for one day stay $">
        </mat-form-field>									
    </div> 
      
      <div class="form-group">
          <label>Rate</label>
          <label>
            <div id="starsRow" *ngFor="let i of starNamesFunc(boat.rate)">
              <i class="material-icons">star_{{i}}</i>
            </div>
          </label>							
      </div>

      <div class="form-group">
        <label>Capacity</label>
        <label>{{boat.capacity}}</label>
        <mat-form-field id="maxNumPers" *ngIf="editButtonClicked">
            <input [(ngModel)]="capacity" type="number" min="1" max="20" name="capacity" matInput placeholder="Capacity">
        </mat-form-field>									
      </div> 

      <div class="form-group">
        <label>Number of motors</label>
        <label>{{boat.numberOfMotors}}</label>
        <mat-form-field id="maxNumPers" *ngIf="editButtonClicked">
            <input [(ngModel)]="numberOfMotors" type="number" min="1" max="20" name="numberOfMotors" matInput placeholder="Number of motors">
        </mat-form-field>									
      </div> 
      <div class="form-group">
        <label>Engine power</label>
        <label>{{boat.motorPower}}</label>
        <mat-form-field id="maxNumPers" *ngIf="editButtonClicked">
            <input [(ngModel)]="motorPower" name="motorPower" matInput placeholder="Engine power">
        </mat-form-field>									
      </div> 
      <div class="form-group">
        <label>Max speed</label>
        <label>{{boat.maxSpeed}}</label>
        <mat-form-field id="maxNumPers" *ngIf="editButtonClicked">
            <input [(ngModel)]="maxSpeed" name="maxSpeed" matInput placeholder="Max speed">
        </mat-form-field>									
      </div> 
      <div class="form-group">
          <h1>Our boat</h1>
          <label>{{boat.description}}</label>								
          <mat-form-field *ngIf="editButtonClicked">
              <input [(ngModel)]="description" name="description" matInput placeholder="Description">
          </mat-form-field>    
      </div>    
      <div class="form-group">
          <h1>What this place offers</h1>	
          <label *ngFor="let amenity of amenities">
              <i class="material-icons">{{amenity.icon}}</i>
              {{amenity.name}}</label>                 
      </div>
      <div *ngIf="editButtonClicked">
          <h4>Select amenities</h4>
          <select multiple name="amenities" [(ngModel)]="boat.amenities">
            
            <option *ngFor="let amenity of amenities1" [value]="amenity.value">
              {{amenity.display}}
            </option>
          </select>
      </div>
      <div class="form-group">
        <h1>Navigation equipment</h1>	
        <label *ngFor="let eq of navEquipment">
            <i class="material-icons">{{eq.icon}}</i>
            {{eq.name}}</label>                 
      </div>
      <div *ngIf="editButtonClicked">
          <h4>Select navigation equipment</h4>
          <select multiple name="equipment" [(ngModel)]="boat.navigationEquipment">
            
            <option *ngFor="let eq of eq1" [value]="eq.value">
              {{eq.display}}
            </option>
          </select>
      </div>
      <div class="form-group">
        <h1>Fishing equipment</h1>	
        <label *ngFor="let eq of fishEquipment">
            <i class="material-icons">{{eq.icon}}</i>
            {{eq.name}}</label>                 
      </div>
      <div *ngIf="editButtonClicked">
          <h4>Select fishing equipment</h4>
          <select multiple name="equipment" [(ngModel)]="boat.fishingEquipment">
            
            <option *ngFor="let eq of eq2" [value]="eq.value">
              {{eq.display}}
            </option>
          </select>
      </div>
      <div class="form-group">
          <h1>Behavioral rules</h1>	
          <label *ngFor="let rule of rules">
              <i class="material-icons">{{rule.icon}}</i>
              {{rule.name}}</label>                 
      </div>  
      <div *ngIf="editButtonClicked">
          <h4>Select rules</h4>
          <select multiple name="services" [(ngModel)]="boat.additionalServices" id="secondSelect">
            
            <option *ngFor="let service of services" [value]="service.value">
              {{service.display}}
            </option>
          </select>
      </div>  
      
    <button mat-button id="submitButton" type="submit" (click)="onSubmit()" *ngIf="editButtonClicked">Submit</button>
  </form>
  
  
  