<h2 class="title">FOR APPROVING: List of revisions/marks from clients,for instructors</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
           <th>Mark</th>
           <th>Revision comment</th>
           <th>Client id</th>
           <th>Client email</th>
           <th>Instructor id</th>
           <th>Instructor email</th>
           <th>Approved by admin</th>
           <th>Rejected</th>
           
           <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let notApprovedRevision of notApprovedRevisions">
            <td>{{notApprovedRevision.id}}</td>
            <td>{{notApprovedRevision.mark}}</td>
            <td>{{notApprovedRevision.revisionComment}}</td>
            <td>{{notApprovedRevision.clientId}}</td>
            <td>{{notApprovedRevision.client.email}}</td>
            <td>{{notApprovedRevision.instructorId}}</td>
            <td>{{notApprovedRevision.instructor.email}}</td>
            <td>{{notApprovedRevision.approvedByAdmin}}</td>
            <td>{{notApprovedRevision.rejected}}</td>
            
            <td>
              
                <button id="btn-confirm" mat-button type="primary" (click)="approveRevision(notApprovedRevision.id)"  >Approve</button>
                <button id="btn-rejected" mat-button type="primary" *ngIf="notApprovedRevision.rejected==false" (click)="rejectRevision(notApprovedRevision.id)" >Reject</button>
                <button id="btn-rejected-dark" mat-button type="primary" *ngIf="notApprovedRevision.rejected==true"  title="This revision is rejected!" disabled >Rejected</button>
                
                
            </td>
        </tr>
    </tbody>
</table>

<br>
<br>
<h2 class="title"> APPROVED: List of revisions/marks from clients,for instructors</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
           <th>Mark</th>
           <th>Revision comment</th>
           <th>Client id</th>
           <th>Client email</th>
           <th>Instructor id</th>
           <th>Instructor email</th>
           <th>Approved by admin</th>
           
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let approvedRevision of approvedRevisions">
            <td>{{approvedRevision.id}}</td>
            <td>{{approvedRevision.mark}}</td>
            <td>{{approvedRevision.revisionComment}}</td>
            <td>{{approvedRevision.clientId}}</td>
            <td>{{approvedRevision.client.email}}</td>
            <td>{{approvedRevision.instructor.id}}</td>
            <td>{{approvedRevision.instructor.email}}</td>
            <td>{{approvedRevision.approvedByAdmin}}</td>
            
            <td>
              
                
                
                
            </td>
        </tr>
    </tbody>
</table>

<br>
<br>
<br>
<h2 class="title"> COMPLAINTS: List of complaints from clients,for instructors</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
           <th>Complaint comment</th>
           <th>Revision comment</th>
           <th>Client id</th>
           <th>Client email</th>
           <th>Instructor id</th>
           <th>Instructor email</th>
           <th>Actions</th>
           
           
           
        </tr>
    </thead>
    <tbody>
        <tr >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
            
            <td>
              
                <button id="btn-confirm-complaint" mat-button type="primary">Reply</button>

                
                
            </td>
        </tr>
    </tbody>
</table>