<h2 class="title">FOR APPROVING: List of revisions/marks from clients,for instructors</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
           <th>Mark</th>
           <th>Revision comment</th>
           <th>Client id</th>
           <th>Client email</th>
           <th>Instructor id</th>
           <th>Instructor email</th>
           <th>Approved by admin</th>
           
           <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let notApprovedRevision of notApprovedRevisions">
            <td>{{notApprovedRevision.id}}</td>
            <td>{{notApprovedRevision.mark}}</td>
            <td>{{notApprovedRevision.revisionComment}}</td>
            <td>{{notApprovedRevision.clientId}}</td>
            <td></td>
            <td>{{notApprovedRevision.instructorId}}</td>
            <td></td>
            <td>{{notApprovedRevision.approvedByAdmin}}</td>
            
            <td>
              
                <button id="btn-confirm" mat-button type="primary"   >Approve</button>
                <button id="btn-rejected" mat-button type="primary"   >Reject</button>

                
                
            </td>
        </tr>
    </tbody>
</table>

<br>
<br>
<h2 class="title"> APPROVED: List of revisions/marks from clients,for instructors</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
           <th>Mark</th>
           <th>Revision comment</th>
           <th>Client id</th>
           <th>Client email</th>
           <th>Instructor id</th>
           <th>Instructor email</th>
           <th>Approved by admin</th>
           
           
        </tr>
    </thead>
    <tbody>
        <tr >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
            <td>
              
                
                
                
            </td>
        </tr>
    </tbody>
</table>