<form role="form" novalidate class="form-inline"  >
    
    <button mat-button (click)="saveChanges()"> Save changes </button>
    <button mat-button (click)="cancel()"> Cancel</button>

        <div class="form-group">
            <h1>First name</h1>
            <mat-form-field class="mat-field">
                <input  name="firstName"  matInput [(ngModel)]="instructor.firstName" >
              </mat-form-field>
            	
           						
        </div>

        <div class="form-group">
            <h1>Last name</h1>
            <mat-form-field class="mat-field">
                <input  name="lastName"  matInput [(ngModel)]="instructor.lastName" >
              </mat-form-field>
           						
        </div>


        <h1>Date and time for beggining/ending of availability</h1>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Pick period</mat-label>
            <mat-date-range-input
              [formGroup]="pickPeriod"
              [rangePicker]="periodPicker" [min]="minDate"  >
              <input matStartDate placeholder="Start date" formControlName="start" [(ngModel)]="newPeriodAvailability.startTimeAvailable">
              <input matEndDate placeholder="End date" formControlName="end" [(ngModel)]="newPeriodAvailability.endTimeAvailable">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="periodPicker"></mat-datepicker-toggle>
            <mat-date-range-picker #periodPicker></mat-date-range-picker>
          </mat-form-field>



        
        <div class="form-group">
            <h1>Email</h1>
            <mat-form-field class="mat-field">
                <input  name="email" title="You cannot change email!" matInput  [(ngModel)]="instructor.email" disabled >
              </mat-form-field>
           						
        </div>

        <div class="form-group">
            <h1>Address</h1>
            <mat-form-field class="mat-field">
                <input  name="address"  matInput [(ngModel)]="instructor.address">
              </mat-form-field>
           						
        </div>

        <div class="form-group">
            <h1>City</h1>
            <mat-form-field class="mat-field">
                <input  name="city"  matInput  [(ngModel)]="instructor.city">
              </mat-form-field>
           						
        </div>

        <div class="form-group">
            <h1>Country</h1>
            <mat-form-field class="mat-field">
                <input  name="country"  matInput [(ngModel)]="instructor.country">
              </mat-form-field>
           						
        </div>

        <div class="form-group">
            <h1>Phone number</h1>
            <mat-form-field class="mat-field">
                <input  name="phoneNumber"  matInput [(ngModel)]="instructor.phoneNumber" >
              </mat-form-field>
           						
        </div>




</form>

