<h2>Boat details </h2>
<div>

    <label >Name: {{boat.name}}</label>
    <label> Address : {{boat.address}}</label>
    <label >Behavioral rules:</label>
    <label> Cancellation conditions: </label>
    <label >Capacity: {{boat.capacity}}</label>
    <label> Fishing equipment : </label>
    <label >Max speed: {{boat.maxSpeed}}</label>
    <label> Motor power : {{boat.motorPower}}</label>
    <label >Description: {{boat.description}}</label>
    <label> Number of motors : {{boat.numberOfMotors}}</label>
    <label> Rating: {{boat.rating}}</label>
    <label> Type : {{boat.type}}</label>
    <label> Length: {{boat.length}}</label>
    <label> Navigation Equipment : </label>

</div>
