<mat-toolbar color="primary" class="navbar">

    <button style="font-size: 16px;" mat-button (click)="homePageAdmin()">Home</button>
    <button style="font-size: 16px;" mat-button (click)="adminProfile()">Admin profile</button>
    <button style="font-size: 16px;" mat-button (click)="unverifiedUsers()">Unverified users</button>
    <button style="font-size: 16px;" mat-button (click)="verifiedUsers()">Verified users </button>
    <span class="spacer"></span>
    <button style="font-size: 16px;" mat-button (click)="logOut()">Log out</button>
</mat-toolbar>
