h1{
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
}

textarea{
    margin-left: 10%;
}

.checkbox{
    margin-left: 10%;
}

#submitButton1{
    margin-left: 35%;
    margin-top: 2%;
    background-color: indigo;
    color: honeydew;
    border: none;
    width: 200px;
}

#submitButton2{
    
    margin-top: 2%;
    background-color: indigo;
    color: honeydew;
    border: none;
    width: 200px;
}

