

  <mat-card class="mat-filters">
    <div >
        <div>
          <label>Type of entity:</label>
          <select>
            <option *ngFor="let type of types" (click)="onSelectType(type)" >{{type}}</option>
          </select>	
        </div>

        <mat-form-field >
          <input type="text" matInput placeholder="Search" [(ngModel)]="searchInput">
        </mat-form-field>
    </div>
  </mat-card> 
  
  <div class = "entities">
      <div *ngIf= "type != 'Instructor' && type != 'Cottage'">
          <app-all-boats  [searchText]="searchInput" ></app-all-boats>
      </div>
      <div *ngIf = "type == 'Instructor'">
        <app-all-instructors  [searchText]="searchInput"></app-all-instructors>
      </div>
      <div *ngIf= "type == 'Cottage'">
        <app-all-cottages  [searchText]="searchInput"></app-all-cottages>
      </div>
  </div>
  