
  <mat-card class="mat-filters">
    <div >

        <div>
          <label>Type of entity:</label>
          <select>
            <option *ngFor="let type of types" (click)="onSelectType(type)" >{{type}}</option>
          </select>	
        </div>
  
        <div>
            <label> Start date: </label>
            <form>
              <input name = "startDateInput"type="date" class="input" name="examinationDateInput" [(ngModel)]="dateInput" />
            </form>
        </div>


        <div>
          <label> End date: </label>
          <form >
            <input name= "starttimeInput" type="date" class="input" name="examinationDateInput" [(ngModel)]="endDateInput" />
          </form>
      </div>

  
      <mat-form-field >
        <input type="text" matInput placeholder="Search" [(ngModel)]="searchInput">
      </mat-form-field>

    </div>

    <div><button (click) = "find()">Find</button></div>
  </mat-card>
  
  
<mat-card>
  <div *ngIf="buttonClicked == false ; then thenBlock else elseBlock"></div>
  
  <ng-template #thenBlock class = "entities">
      <div *ngIf= "type != 'Adventure' && type != 'Cottage'">
          <app-all-boats [searchText]="searchInput"></app-all-boats>
      </div>
      <div *ngIf = "type == 'Adventure'">
        <app-all-adventures [searchText]="searchInput"></app-all-adventures>
      </div>
      <div *ngIf= "type == 'Cottage'">
        <app-all-cottages [searchText]="searchInput"></app-all-cottages>
      </div>
 </ng-template>

 <ng-template #elseBlock class = "entities">
    <div *ngIf= "type != 'Adventure' && type != 'Cottage'">
        <app-free-boats [searchText]="searchInput" [startDate]="dateInput" [endDate]="endDateInput"></app-free-boats>
    </div>
    <div *ngIf = "type == 'Adventure'">
      <app-all-adventures [searchText]="searchInput"></app-all-adventures>
    </div>
    <div *ngIf= "type == 'Cottage'">
      <app-free-cottages [searchText]="searchInput" [startDate]="dateInput" [endDate]="endDateInput"></app-free-cottages>
    </div>

    
 </ng-template>

  
</mat-card>