<form role="form" novalidate class="form-inline"  >
    
    <button mat-button (click)="editProfileInstructor(instructor.id)"> Edit profile </button>
    <button mat-button (click)="changePassword(instructor.id)"> Change password </button>

        <div class="form-group">
            <h1>First name</h1>
            <h2>{{instructor.firstName}}</h2>	
           						
        </div>

        <div class="form-group">
            <h1>Last name</h1>
            <h2>{{instructor.lastName}}</h2>	
           						
        </div>

        <h1>Date and time for beggining/ending of availability</h1>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Pick period</mat-label>
            <mat-date-range-input disabled
              [formGroup]="pickPeriod"
              [rangePicker]="periodPicker" [min]="minDate"  >
              <input matStartDate placeholder="Start date" formControlName="start" [(ngModel)]="newPeriodAvailability.startTimeAvailable">
              <input matEndDate placeholder="End date" formControlName="end" [(ngModel)]="newPeriodAvailability.endTimeAvailable">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="periodPicker"></mat-datepicker-toggle>
            <mat-date-range-picker #periodPicker></mat-date-range-picker>
          </mat-form-field>

        
        <div class="form-group">
            <h1>Email</h1>
            <h2>{{instructor.email}}</h2>	
           						
        </div>

        <div class="form-group">
            <h1>Address</h1>
            <h2>{{instructor.address}}</h2>	
           						
        </div>

        <div class="form-group">
            <h1>City</h1>
            <h2>{{instructor.city}}</h2>	
           						
        </div>

        <div class="form-group">
            <h1>Country</h1>
            <h2>{{instructor.country}}</h2>	
           						
        </div>

        <div class="form-group">
            <h1>Phone number</h1>
            <h2>{{instructor.phoneNumber}}</h2>	
           						
        </div>





</form>
