<form role="form" novalidate class="form-inline">
    

<button mat-button (click)="bookCottage()" id="firstButton">New reservation</button>
<button mat-button (click)="futureReservations()" >Future reservations</button>
<button mat-button (click)="pastReservations()">Past reservations</button>
<button mat-button (click)="removeCottage()" >Remove cottage</button>
<button mat-button (click)="editCottage()">Edit cottage</button>

    <div class="form-group">
        <h1>{{cottage.name}}</h1>	
        <ng-image-slider [images]="imgCollection" #nav></ng-image-slider>							
    </div>
    <div class="form-group">
        <label>Address</label>
        <label>{{cottage.address}}</label>								
    </div>
    <div class="form-group">
        <label>City</label>
        <label>{{cottage.city}}</label>								
    </div>
    <div class="form-group">
        <label>Max number of persons</label>
        <label>{{cottage.maxNumOfPersons}}</label>								
    </div> 
    <div class="form-group">
        <label>Rate</label>
        <label>{{cottage.rate}}</label>								
    </div>
    <div class="form-group">
        <label>Description</label>
        <label>{{cottage.description}}</label>								
    </div>    

    <div class="form-group">
        <h1>Rooms</h1>								
    </div>
    <div class="form-group">
        <h1>What this place offers</h1>	
        <label *ngFor="let amenity of amenities">{{amenity}}</label>							
    </div>

    <div>
        <h1>Book cottage</h1>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Book cottage</mat-label>
            <mat-date-range-input
              [formGroup]="pickCottage"
              [rangePicker]="cottagePicker">
              <input matStartDate placeholder="Start date" formControlName="start">
              <input matEndDate placeholder="End date" formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="cottagePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #cottagePicker></mat-date-range-picker>
          </mat-form-field>
    </div>
    
    
</form>


