<app-header-unauthenticated-user *ngIf="whoIsLogged() == 'nobody'"></app-header-unauthenticated-user>
<app-header-cottage-owner *ngIf="whoIsLogged() == 'cottageOwner'"></app-header-cottage-owner>
<app-header-boat-owner *ngIf="whoIsLogged() == 'boatOwner'"></app-header-boat-owner>
<app-header-admin *ngIf="whoIsLogged() == 'admin'"></app-header-admin>
<app-header-instructor *ngIf="whoIsLogged() == 'instructor'"></app-header-instructor>
<app-header-client *ngIf="whoIsLogged() == 'client'"></app-header-client>

<div class="content">
  <router-outlet></router-outlet>
</div>