

<h2 class="title">List of clients for penalties</h2>
<table>
    <thead>
        <tr>
           <!-- <th>Id</th>-->
            <th>First name</th>
            <th>Last name</th>
            <th>Email address</th>
            <th>User type</th>
            <th>Address</th>
            <th>City</th>
            <th>Country</th>
            <th>Phone number</th>
            <!--<th>Reason</th>-->
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <!--<td>{{userNonVerif.id}}</td>-->
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           <!-- <td>{{userNonVerif.reason}}</td> -->
            <td>
              
                <button id="btn-confirm" mat-button type="primary" class="button-confirm" >Verify</button>
            
            </td>
        </tr>
    </tbody>
</table>