<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="52">
        <mat-toolbar color="primary">Register new cottage</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="register-form">

            <mat-form-field>
              <input [(ngModel)]="name" name="name" matInput placeholder="Cottage name">
            </mat-form-field>

            <mat-form-field>
                <input [(ngModel)]="address" name="address" matInput placeholder="Address">
            </mat-form-field>

            <mat-form-field>
                <input [(ngModel)]="city" name="city" matInput placeholder="City">
            </mat-form-field> 

            <mat-form-field>
                <input [(ngModel)]="description" name="description" matInput placeholder="Description">
            </mat-form-field>

            <div>
              <h4>Select amenities</h4>
              <select multiple name="amenities" [(ngModel)]="cottage.amenities">
                
                <option *ngFor="let amenity of amenities" [value]="amenity.value">
                  {{amenity.display}}
                </option>
              </select>
            </div>

            <form  id="uploadForm">
                <h4>Add cottage images</h4>
                <div class="row">
                  <div class="col-8">
                    <label class="btn btn-default p-0">
                      <input type="file" accept="image/*" multiple (change)="selectFiles($event)" />
                    </label>
                </div>
                
                
                </div>
                
                <div>
                  <img *ngFor='let preview of previews' [src]="preview" class="preview">
                </div>
            </form>

            <button mat-raised-button type="submit" (click)="addNewCottage()">Register</button>
          </form>  
    </mat-card>
</div>
