<form role="form" novalidate class="form-inline"  >
    

    
    <button mat-button (click)="newAction(adventureId)">New action</button>
    <button mat-button (click)="editAdventure(adventureId)">Edit adventure</button>
    

    
        <div class="form-group">
            <h1>Name of adventure</h1>
            <h2>{{adventure.name}}</h2>	
           						
        </div>

        <div class="form-group">
            <h1>Pictures of previous adventure's vacations</h1>
            <ng-image-slider [images]="imgCollection" #nav></ng-image-slider>	
        </div>
       
    
        <div class="form-group">
            <h1>Address of adventure</h1>
            <h2>{{adventure.address}}</h2>	
           								
        </div>
        <div class="form-group">
            <h1>Promo description</h1>
            <h2>{{adventure.description}}</h2>	
        </div>

        <div class="form-group">
            <h1>Short biography of instructor</h1>
            <h2>Nas instruktor {{instructor.firstName}} {{instructor.lastName}} je instruktor koji jako dobro poznaje Zlatibor.</h2>	
        </div>

        <div class="form-group">
            <h1>Max number of persons: </h1>
            <h2> 
                <mat-icon> wc</mat-icon>
                {{adventure.maxNumOfPersons}} </h2>
            		 
        </div>
        
        <div class="form-group">
            <h1>All termins for reservation: </h1>
           
            <mat-card> 
                <mat-card-content>
                  <form novalidate class="form-inline">
                      <div class="container">
                          <div class="row">
                            
                            <button id="addBtn" (click)="newAction(adventureId)"><mat-icon>add</mat-icon> Add termin for action: </button>
                            <div class="search-hero">
                              <input class="form-control" [(ngModel)]="searchText" type="text" style="font-family:Arial, FontAwesome" name="search"  autocomplete="off" placeholder="&#xF002; Search">
                            </div>
                            <h2>Past actions:</h2>
                            <table matSort >
                              <thead>
                              <tr> 
                                <th >Start time for action</th>
                                <th >End time for action</th>
                                <th>Additional services</th>
                                <th>Exact place for action</th>
                                <th> Was reserved</th>
                                <th></th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let pastAction of adventurePastActions | filter:searchText ">
                                <td>{{pastAction.startTime}}</td>
                                <td>{{pastAction.endTime}}</td>
                                <td>{{pastAction.additionalAdvServices}} </td>
                                <td>{{pastAction.exactPlace}}</td>
                                <td>{{pastAction.isReserved}}</td>
                                <td>
                                  <div id="starsRow" >
                                    <i class="material-icons">star</i>
                                  </div>
                                </td>
                                
                                <button id="eyeBtnPastActions" disabled> </button>
                                <button id="eyeBtnPastActions" disabled> </button>
                              
                              </tr>
                              </tbody>
                            </table>



                          <br>
                          <br>
                            <h2>Active actions:</h2>
                            <table matSort >
                              <thead>
                              <tr> 
                                <th >Start time for action</th>
                                <th >End time for action</th>
                                <th>Additional services</th>
                                <th>Exact place for action</th>
                                <th>Reserved</th>
                                <th></th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let action of adventureActions | filter:searchText ">
                                <td>{{action.startTime}}</td>
                                <td>{{action.endTime}}</td>
                                <td>{{action.additionalAdvServices}} </td>
                                <td>{{action.exactPlace}}</td>
                                <td>{{action.isReserved}}</td>
                                <td>
                                  <div id="starsRow" >
                                    <i class="material-icons">star</i>
                                  </div>
                                </td>
                                
                                <button id="eyeBtn" *ngIf="!action.isReserved" (click)="editAction(action.id)"> Edit</button>
                                <button id="eyeBtn" *ngIf="!action.isReserved" (click)="deleteAction(action.id)"> Delete</button>
                                <button id="eyeBtnDisabled" *ngIf="action.isReserved" disabled title="You cannot edit reserved action!" > Edit</button>
                                <button id="eyeBtnDisabled" *ngIf="action.isReserved"  disabled title="You cannot delete reserved action!"> Delete</button>
                                <button id="eyeBtn"></button>
                              </tr>
                              </tbody>
                            </table>
                          
                          </div>
                        </div>
                  </form> 
                </mat-card-content>
              </mat-card>


            		 
        </div>

        <div class="form-group">
            <h1> Base price: </h1>
            <h2>  {{adventure.price}} $</h2>
            		 
        </div>

        <div class="form-group">
            <h1>Additional info: </h1>
            <h2>{{adventure.additionalInfo}} </h2>
            		 
        </div>

        <div class="form-group">
            <h1>Precondition for cancelation of reservation:(free or instructor takes percentage) </h1>
            <h2>
                <mat-icon *ngIf="adventure.cancelationPrice.startsWith('FREE')">insert_emoticon</mat-icon>
                <mat-icon *ngIf="adventure.cancelationPrice.startsWith('PERCENTAGE')">attach_money</mat-icon>
                {{adventure.cancelationPrice}} </h2>
            		 
        </div>

        <div class="form-group">
            <h1>Rules of behaviour: </h1>
            <h2 *ngFor="let rule of adventure.rules">  
                <mat-icon *ngIf="rule.startsWith('NO_SMOKING')">smoke_free</mat-icon>
                <mat-icon *ngIf="rule.startsWith('PET_FRIENDLY')">pets</mat-icon>
                <mat-icon *ngIf="rule.startsWith('NO_LOUD')">hearing</mat-icon>
                <mat-icon *ngIf="rule.startsWith('NO_PARTIES')">no_meeting_room</mat-icon>
                {{rule}}    
            </h2>
            		 
        </div>

        <div class="form-group">
            <h1>Equipment: </h1>
            <h2 *ngFor="let equipment of adventure.equipment">
            <mat-icon *ngIf="equipment.startsWith('REELS')">donut_small</mat-icon>
            <mat-icon *ngIf="equipment.startsWith('LURES')">settings_input_component</mat-icon>
            <mat-icon *ngIf="equipment.startsWith('NETS')">apps</mat-icon>
            <mat-icon *ngIf="equipment.startsWith('RODS')">brush</mat-icon>
            <mat-icon *ngIf="equipment.startsWith('SUNGLASSES')">vignette</mat-icon>
            <mat-icon *ngIf="equipment.startsWith('PROTECTION')">security</mat-icon>


            {{equipment}}
            </h2>
            		 
        </div>

        
        
    
       						 
    
    </form>
    
    
    