<div>
    <h1>Book cottage</h1>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Pick period</mat-label>
        <mat-date-range-input
          [formGroup]="pickPeriod"
          [rangePicker]="periodPicker">
          <input matStartDate placeholder="Start date" formControlName="start">
          <input matEndDate placeholder="End date" formControlName="end">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="periodPicker"></mat-datepicker-toggle>
        <mat-date-range-picker #periodPicker></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="username" name="username" matInput placeholder="Client username">
    </mat-form-field>

    <button mat-raised-button type="submit" (click)="reserve()" >Submit</button>

    <h1>Actions for this cottage</h1>	
    <div class="form-group" *ngFor="let action of actions"> 
      <label> From: {{action.startTime}} To: {{action.endTime}}</label>
      <button type="submit" (click)="reserveAction(action.id)">Reserve action period</button>           
  </div>  
           
</div>
