<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Register page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="register-form">
            <mat-form-field>
              <input matInput placeholder="First name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Last name">
              </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email address">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" type="password">
            </mat-form-field>  
            <mat-form-field>
                <input matInput placeholder="Confirm password" type="password">
            </mat-form-field> 
            <mat-form-field>
                <input matInput placeholder="Address">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="City">
            </mat-form-field> 
            <mat-form-field>
                <input matInput placeholder="Country">
            </mat-form-field>  
            <mat-form-field>
                <input matInput placeholder="Phone number">
            </mat-form-field>   
            <mat-form-field appearance="fill">
                <mat-label>Choose type</mat-label>
                <mat-select>
                    <mat-option value="cottage">Cottage</mat-option>
                    <mat-option value="boat">Boat</mat-option>
                    <mat-option value="instructor">Instructor</mat-option>
                </mat-select> 
            </mat-form-field>      
            <button mat-raised-button type="submit">Register</button>
          </form>  
    </mat-card>
</div>
