label{
    margin-left: 15%;
    margin-top: 2%;
    width: 500px;
}

h1{
    margin-top: 5%;
    margin-bottom: 15%;
    font-weight: bold;
}

h3{
    font-weight: bold;
}

input{
    margin-left: 15%;
    margin-top: 2%;
    width: 230px;
}

#submitButton{
    margin-left: 60%;
    margin-top: 2%;
    background-color: indigo;
    color: honeydew;
    border: none;
}

button{
    color: white;
    background: indigo;
    border-radius: 1rem;
    border: none;
    width: 170px;
    height: 35px;
    margin-left: 14px;
    font-weight: bold;
    margin-top: 3px;
}

#firstButton{
    margin-left: 200px;
}

img{
    width: 150px;
    height: 150px;
    margin-bottom: 5%;
}

form {
    position :static;
    width  : 600px;
    margin : 0;
    padding: 1em;
    box-sizing: border-box;
    background : white;
    color: black;
    margin-top: 20px;
  }

#uploadForm{
    display: inline-block;   
    width: 600px;
}

#basics{
    width: 200px;
}
