<button mat-button routerLink="change-password" id="firstButton">Change password</button>
<button mat-button routerLink="delete-account">Delete profile</button>
<button mat-button *ngIf="!editButtonClicked" (click)="clickOnEditButton()">Edit profile</button>
<div id="basics">
  <img class="image" [src]="user.picture"/>
  <h1>{{user.firstName + ' ' + user.lastName}}</h1>
</div>



<form (ngSubmit)="onSubmit()">
    <div *ngIf="whoIsLogged() == 'cottageOwner'">
        <h3>Cottage owner</h3>
        
        <label for="username">Username: {{user.email}}</label>
        <input type="text" id="username" *ngIf="editButtonClicked" name="email" [(ngModel)]="email">

        <label for="phone">Phone number: {{user.phoneNumber}}</label>
        <input type="text" id="phone" *ngIf="editButtonClicked" name="phoneNumber" [(ngModel)]="phoneNumber">

        <label>Password reseted on: {{user.lastPasswordResetDate}}</label>
    </div>

    <div *ngIf="whoIsLogged() == 'client'">
      <h3>Client</h3>
      
      <label for="username">Username: {{user.email}}</label>

      <label for="phone">Phone number: {{user.phoneNumber}}</label>
      <input type="text" id="phone" *ngIf="editButtonClicked" name="phoneNumber" [(ngModel)]="phoneNumber">

      <label>Password reseted on: {{user.lastPasswordResetDate}}</label>
  </div>
  
    <div>
      <h3>Address</h3>

      <label for="address">Street: {{user.address}}</label>
      <input type="text" id="address" *ngIf="editButtonClicked" name="address" [(ngModel)]="address">

      <label for="city">City: {{user.city}}</label>
      <input type="text" id="city" *ngIf="editButtonClicked" name="city" [(ngModel)]="city">

      <label for="country">Country: {{user.country}}</label>
      <input type="text" id="country" *ngIf="editButtonClicked" name="country" [(ngModel)]="country">
    </div>

    <form *ngIf="editButtonClicked" id="uploadForm">
      <h3>Change profile picture:</h3>
      <div class="row">
        <div class="col-8">
          <label class="btn btn-default p-0">
            <input type="file" accept="image/*" multiple (change)="selectFiles($event)" />
          </label>
      </div>
      
      <div class="col-4">
          <button
            class="btn btn-success btn-sm"
            [disabled]="!selectedFiles"
            (click)="uploadFiles()">

            Change profile picture
          </button>
        </div>
      </div>
      
      <div>
        <img *ngFor='let preview of previews' [src]="preview" class="preview">
      </div>
  </form>

  <button mat-button id="submitButton" type="submit" *ngIf="editButtonClicked">Submit</button>
  </form>
