<h2 class="title">List of users,who applied for deleting account</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
           <th>First name</th>
           <th>Last name</th>
           <th>Email address</th>
           <th>User type</th>
           <th>Address</th>
           <th>City</th>
           <th>Country</th>
           <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td>
              
                <button id="btn-confirm" mat-button type="primary" class="button-confirm"  >Delete</button>
                &nbsp;
                <button id="btn-rejected" mat-button type="primary" class="button-confirm" >Reject</button>
                
            </td>
        </tr>
    </tbody>
</table>