.main-div mat-card{
    padding: 0px;
}


.register-form{
    padding: 20px;
    width: 580px;
}

#uploadForm{
    display: inline-block;   
    width: 600px;
    margin-top: 5%;
    margin-bottom: 5%;
}

img{
    width: 130px;
    height: 150px;
    margin-bottom: 5%;
}

select{
    margin-bottom: 10px;
}

#secondSelect{
    height: 80px;
}

h4{
    margin-top: 10px;
}

#maxNumPers{
    width: 160px !important;
}