<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="45">
        <mat-toolbar color="primary">Add new adventure</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="register-form">

            <mat-form-field >
              <input [(ngModel)]="name" id="name" name="name" matInput placeholder="Adventure name" required="required">
            </mat-form-field>

            <mat-form-field>
                <input [(ngModel)]="address" name="address" matInput placeholder="Address" required>
            </mat-form-field>

            <mat-form-field>
                <input [(ngModel)]="description" name="description" matInput placeholder="Promo description" required>
            </mat-form-field> 


            <mat-form-field >
              <input [(ngModel)]="maxNumOfPersons" type="number" min="1" max="100" name="maxNumOfPersons" matInput placeholder="Max number of persons(BASE)" required>
          </mat-form-field>

          <mat-form-field >
            <input [(ngModel)]="price" type="number" min="1" max="100" name="price" matInput placeholder="Base price(in $)" required>
        </mat-form-field>

        <mat-form-field >
            <input [(ngModel)]="adventure.additionalInfo" type="text" min="1" max="100" name="additionalInfo" matInput placeholder="Additional info" required>
        </mat-form-field>

        <div>
            <p>______________________________________________________________________</p>
          <h4>Precondition for cancelation of reservation:(free or instructor takes percentage)</h4>
            <form>
                <div class="container">
                    <div  class="row">
                        
                        <div class="col-8 col-chk"><input type="radio"  name="radioButtons"  value="FREE"   [(ngModel)]="adventure.cancelationPrice" >
                        <div class="col-35"><label>FREE</label></div>
                        </div>
                        
                        <div class="col-8 col-chk"><input type="radio" name="radioButtons"  value="PERCENTAGE"   [(ngModel)]="adventure.cancelationPrice" >
                        <div class="col-35"><label>PERCENTAGE</label></div>
                        </div>


                    </div>

                </div>

            </form>      
                
            
        </div>



            
            <div>
                <p>______________________________________________________________________</p>
              <h4>Select rules of behaviour</h4>
                <form>
                    <div class="container">
                        <div *ngFor = "let item of rules" class="row">
                            
                            <div class="col-8 col-chk"><input type="checkbox" name="{{item.name}}"  [(ngModel)]="item.isSelected" required>
                            <div class="col-35"><label>{{item.name}}</label></div>

                            </div>
                        </div>

                    </div>

                </form>      
                    
                
            </div>

            <div>
                <p>______________________________________________________________________</p>
              <h4>Select fishing equipment</h4>
              <form>
                <div class="container">
                    <div *ngFor = "let item of equipment" class="row">
                        
                        <div class="col-8 col-chk"><input type="checkbox" name="{{item.name}}" [(ngModel)]="item.isSelected" required>
                        <div class="col-35"><label>{{item.name}}</label></div>

                        </div>
                    </div>

                </div>

            </form> 
                       
            </div>

       
            <p>______________________________________________________________________</p>
            <form  id="uploadForm">
                <h4>Add images for adventure</h4>
                <div class="row">
                  <div class="col-8">
                    <label class="btn btn-default p-0">
                      <input type="file" accept="image/*"  (change)="onFileChanged($event)">
                    </label>
                    <img type="file"  *ngFor="let image of forShowingImages" [src]="image" >
                    <button (click)="popFunction()">Pop button</button>
                </div>
                 
                </div>
            </form>
        
            <button mat-raised-button type="submit" (click)="addAdventure(this.instructorId)">Add adventure</button>
          </form>  
    </mat-card>
</div>
