<mat-card class="example-card">
    
    <mat-card-content>
          <form>
  
            <table>
              <thead>
                <tr>
                  <th>Instructor First Name:</th>
                  
                </tr>
              </thead>
  
              
  
              <tbody>
                <tr>
                                    
                  <td>{{instructor.firstName}}</td>
                
                  
                </tr>
              </tbody>
            </table>
  
          </form>
  
    </mat-card-content>
  </mat-card>
  

