




<mat-card>

<table matSort (matSortChange)="sortData($event)">
  <thead>
      <th mat-sort-header="name">Boat name </th>
      <th mat-sort-header="address">Boat address</th>
      <th mat-sort-header="description">Boat description</th>
      <th mat-sort-header="rate">Average rate</th>
      <th></th>
      <th></th>
      <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let boat of sortedData | filter:searchText">
      <td>{{boat.name}}</td>
      <td>{{boat.address}}</td>
      <td>{{boat.description}}</td>
      <td>{{boat.rate}}</td>  
    
      <td><button (click) = actions(boat)>Actions</button></td>
      <td> <button id="eyeBtn" (click)="boatDetails(boat)">Details</button></td>
     
    </tr>

  </tbody>
</table>
</mat-card>




