<mat-card> 
    <mat-card-content>
      <form novalidate class="form-inline">
          <div class="container">
              <div class="row">
                <div class="search-hero">
                  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search">
                </div>
                <table matSort (matSortChange)="sortData($event)">
                  <thead>
                  <tr> 
                    <th mat-sort-header="startTime">From</th>
                    <th mat-sort-header="endTime">To</th>
                    <th mat-sort-header="client">Client</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let reservation of sortedData | filter:searchText">
                    <td>{{reservation.startTime}}</td>
                    <td>{{reservation.endTime}}</td>
                    <td *ngIf="reservation.client != null">{{reservation.client.firstName + ' ' + reservation.client.lastName}}</td>   
                    <td *ngIf="reservation.client == null">Nobody reserved action...</td>   
                    <button *ngIf="reservation.client != null" id="eyeBtn" (click)="clientProfile(reservation.client)">Client profile</button>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
      </form> 
    </mat-card-content>
  </mat-card>

