h1{
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
}

textarea{
    margin-left: 10%;
}

button
{
    margin-left: 40%;
    margin-top: 2%;
    background-color: indigo;
    color: honeydew;
    border: none;
    width: 100px; 
}

label{
    margin-left: 15%;
    margin-top: 2%;
    width: 500px;
}

input{
    margin-left: 15%;
    margin-top: 2%;
    width: 230px;
}

#submitButton{
    margin-left: 60%;
    margin-top: 2%;
    background-color: indigo;
    color: honeydew;
    border: none;
}


form {
    position :static;
    width  : 1200px;
    margin : 0;
    padding: 1em;
    box-sizing: border-box;
    background : lightgrey;
    color: black;
    margin-top: 20px;
  }


#basics{
    width: 200px;
}
