

<h2 class="title">List of unverified users</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email address</th>
            <th>User type</th>
            <th>Address</th>
            <th>City</th>
            <th>Country</th>
            <th>Phone number</th>
            <th>Reason</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let userNonVerif of usersNonVerif">
            <td>{{userNonVerif.id}}</td>
            <td>{{userNonVerif.firstName}}</td>
            <td>{{userNonVerif.lastName}}</td>
            <td>{{userNonVerif.email}}</td>
            <td>{{userNonVerif.userType}}</td>
            <td>{{userNonVerif.address}}</td>
            <td>{{userNonVerif.city}}</td>
            <td>{{userNonVerif.country}}</td>
            <td>{{userNonVerif.phoneNumber}}</td>
            <td>{{userNonVerif.reason}}</td>
            <td>
              
                <button id="btn-confirm" mat-button type="primary" class="button-confirm">Verify</button>
            
            </td>
        </tr>
    </tbody>
</table>