<h2 class="title">List of cottage owners</h2>
<table>
    <thead>
        <tr >
            <th>Id</th>
           <th>First name</th>
           <th>Last name</th>
           <th>Email address</th>
           <th>User type</th>
           <th>Address</th>
           <th>City</th>
           <th>Country</th>
           <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cottageOwner of cottageOwners">
            <td>{{cottageOwner.id}}</td>
            <td>{{cottageOwner.firstName}}</td>
            <td>{{cottageOwner.lastName}}</td>
            <td>{{cottageOwner.email}}</td>
            <td>{{cottageOwner.userType}}</td>
            <td>{{cottageOwner.address}}</td>
            <td>{{cottageOwner.city}}</td> 
            <td>{{cottageOwner.country}}</td>
            <td>
              
                <button id="btn-confirm" mat-button type="primary" class="button-confirm" *ngIf="cottageOwner.canBeDeleted" (click)="deleteCottageOwner(cottageOwner.id)">Delete</button>
                <button id="btn-confirm-disabled" mat-button type="primary" class="button-confirm" *ngIf="!cottageOwner.canBeDeleted" disabled title="You cannot delete cottage owner with wired entities!">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<!-------------------------------------------------------------COTTAGES ------------------------------ -->
<br>
<br>

<h2 class="title">List of cottages </h2>
<table>
    <thead>
        <tr>
           <!-- <th>Id</th>-->
           <th>Id</th>
           <th>Address</th>
           <th>City</th>
           <th>Description</th>
           <th>Max number of persons</th>
           <th>Name</th>
           <th>One day price</th>
           <th>Rate</th>
           <th>Cottage owner id</th>
           <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cottage of cottages">
            <!--<td>{{userNonVerif.id}}</td>-->
            <td>{{cottage.id}}</td>
            <td>{{cottage.address}}</td>
            <td>{{cottage.city}}</td>
            <td>{{cottage.description}}</td>
            <td>{{cottage.maxNumOfPersons}}</td>
            <td>{{cottage.name}}</td> 
            <td>{{cottage.oneDayPrice}}</td>
            <td>{{cottage.rate}}</td>
            <td>{{cottage.cottageOwnerId}}</td>
            <td>
              
                <button id="btn-confirm" mat-button type="primary" class="button-confirm" (click)="deleteCottage(cottage.id)">Delete</button>
                
            </td>
        </tr>
    </tbody>
</table>

<!----------------------------------------------------------- BOAT OWNERS --------------------------------->
<br>

<h2 class="title">List of boat owners</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
           <th>First name</th>
           <th>Last name</th>
           <th>Email address</th>
           <th>User type</th>
           <th>Address</th>
           <th>City</th>
           <th>Country</th>
           <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let boatOwner of boatOwners">
            <td>{{boatOwner.id}}</td>
            <td>{{boatOwner.firstName}}</td>
            <td>{{boatOwner.lastName}}</td>
            <td>{{boatOwner.email}}</td>
            <td>{{boatOwner.userType}}</td>
            <td>{{boatOwner.address}}</td>
            <td>{{boatOwner.city}}</td> 
            <td>{{boatOwner.country}}</td>
            <td>
              
                <button id="btn-confirm" mat-button type="primary" class="button-confirm" (click)="deleteBoatOwner(boatOwner.id)">Delete</button>
                
            </td>
        </tr>
    </tbody>
</table>

<!----------------------------------------------------- BOATS ------------------------------------------------>
<br>
<br>
<h2 class="title">List of boats </h2>
<table>
    <thead>
        <tr>
           <!-- <th>Id</th>-->
           <th>Id</th>
           <th>Address</th>
           <th>Behavior rules</th>
           <th>Cancellation conditions</th>
           <th>Capacity</th>
           <th>Description</th>
           <th>Length</th>
           <th>Name</th>
           <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let boat of boats">
            <!--<td>{{userNonVerif.id}}</td>-->
            <td>{{boat.id}}</td>
            <td>{{boat.address}}</td>
            <td>{{boat.behavioralRules}}</td>
            <td>{{boat.cancellationConditions}}</td>
            <td>{{boat.capacity}}</td>
            <td>{{boat.description}}</td> 
            <td>{{boat.length}}</td>
            <td>{{boat.name}}</td>
            <td>
              
                <button id="btn-confirm" mat-button type="primary" class="button-confirm" (click)="deleteBoat(boat.id)">Delete</button>
                
            </td>
        </tr>
    </tbody>
</table>
<!----------------------------------------- INSTRUCTORS ------------------------------------>
<br>
<br>
<h2 class="title">List of instructors</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
           <th>First name</th>
           <th>Last name</th>
           <th>Email address</th>
           <th>User type</th>
           <th>Address</th>
           <th>City</th>
           <th>Country</th>
           <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let instructor of instructors">
            <td>{{instructor.id}}</td>
            <td>{{instructor.firstName}}</td>
            <td>{{instructor.lastName}}</td>
            <td>{{instructor.email}}</td>
            <td>{{instructor.userType}}</td>
            <td>{{instructor.address}}</td>
            <td>{{instructor.city}}</td> 
            <td>{{instructor.country}}</td>
            <td>
              
                <button id="btn-confirm" mat-button type="primary" class="button-confirm" *ngIf="instructor.canBeDeleted" (click)="deleteInstructor(instructor.id)">Delete</button>
                <button id="btn-confirm-disabled" mat-button type="primary" class="button-confirm" *ngIf="!instructor.canBeDeleted" disabled title="You cannot delete instructor with declared adventures!">Delete</button>

                
            </td>
        </tr>
    </tbody>
</table>

<!-------------------------------------------------------- CLIENTS ------------------------------------------->
<br>
<br>

<h2 class="title">List of clients</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
           <th>First name</th>
           <th>Last name</th>
           <th>Email address</th>
           <th>User type</th>
           <th>Address</th>
           <th>City</th>
           <th>Country</th>
           <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients">
            <td>{{client.id}}</td>
            <td>{{client.firstName}}</td>
            <td>{{client.lastName}}</td>
            <td>{{client.email}}</td>
            <td>{{client.userType}}</td>
            <td>{{client.address}}</td>
            <td>{{client.city}}</td> 
            <td>{{client.country}}</td>
            <td>
              
                <button id="btn-confirm" mat-button type="primary" class="button-confirm" *ngIf="client.canBeDeleted" (click)="deleteClient(client.id)" >Delete</button>
                <button id="btn-confirm-disabled" mat-button type="primary" class="button-confirm" *ngIf="!client.canBeDeleted" disabled title="You cannot delete client who booked actions!">Delete</button>
                
            </td>
        </tr>
    </tbody>
</table>