<h2 class="title">List of cottage owners</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
           <th>First name</th>
           <th>Last name</th>
           <th>Email address</th>
           <th>User type</th>
           <th>Address</th>
           <th>City</th>
           <th>Country</th>
           <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td>
              
                <button id="btn-confirm" mat-button type="primary" class="button-confirm" >Delete</button>
                
            </td>
        </tr>
    </tbody>
</table>

<!-------------------------------------------------------------COTTAGES ------------------------------ -->
<br>
<br>

<h2 class="title">List of cottages </h2>
<table>
    <thead>
        <tr>
           <!-- <th>Id</th>-->
           <th>Id</th>
           <th>Address</th>
           <th>City</th>
           <th>Description</th>
           <th>Max number of persons</th>
           <th>Name</th>
           <th>One day price</th>
           <th>Rate</th>
           <th>Cottage owner id</th>
           <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <!--<td>{{userNonVerif.id}}</td>-->
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td></td>
            <td></td>
            <td>
              
                <button id="btn-confirm" mat-button type="primary" class="button-confirm" >Delete</button>
                
            </td>
        </tr>
    </tbody>
</table>

<!----------------------------------------------------------- BOAT OWNERS --------------------------------->
<br>

<h2 class="title">List of boat owners</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
           <th>First name</th>
           <th>Last name</th>
           <th>Email address</th>
           <th>User type</th>
           <th>Address</th>
           <th>City</th>
           <th>Country</th>
           <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td>
              
                <button id="btn-confirm" mat-button type="primary" class="button-confirm" >Delete</button>
                
            </td>
        </tr>
    </tbody>
</table>

<!----------------------------------------------------- BOATS ------------------------------------------------>
<br>
<br>
<h2 class="title">List of boats </h2>
<table>
    <thead>
        <tr>
           <!-- <th>Id</th>-->
           <th>Id</th>
           <th>Address</th>
           <th>Behavior rules</th>
           <th>Cancellation conditions</th>
           <th>Capacity</th>
           <th>Description</th>
           <th>Length</th>
           <th>Name</th>
           <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <!--<td>{{userNonVerif.id}}</td>-->
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td></td>
            <td>
              
                <button id="btn-confirm" mat-button type="primary" class="button-confirm" >Delete</button>
                
            </td>
        </tr>
    </tbody>
</table>
<!----------------------------------------- INSTRUCTORS ------------------------------------>
<br>
<br>
<h2 class="title">List of instructors</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
           <th>First name</th>
           <th>Last name</th>
           <th>Email address</th>
           <th>User type</th>
           <th>Address</th>
           <th>City</th>
           <th>Country</th>
           <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td>
              
                <button id="btn-confirm" mat-button type="primary" class="button-confirm" >Delete</button>
                
            </td>
        </tr>
    </tbody>
</table>

<!-------------------------------------------------------- CLIENTS ------------------------------------------->
<br>
<br>

<h2 class="title">List of clients</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
           <th>First name</th>
           <th>Last name</th>
           <th>Email address</th>
           <th>User type</th>
           <th>Address</th>
           <th>City</th>
           <th>Country</th>
           <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td>
              
                <button id="btn-confirm" mat-button type="primary" class="button-confirm" >Delete</button>
                
            </td>
        </tr>
    </tbody>
</table>