<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field>
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="password" required>
            </mat-form-field>      
            <button class="login-button" mat-raised-button type="submit" (click)="login()">Login</button>
            <p>Don`t have an account?</p>
            <button mat-raised-button routerLink="/register">Sign up here.</button>
          </form>  
    </mat-card>
</div>
