<form (ngSubmit)="onSubmit()">
    <h1>Change your password</h1>
    
    <div>        
        <label for="old">Enter old password:</label>
        <input type="text" id="old" [(ngModel)]="oldPassword" name="oldPassword">

        <label for="new">Enter new password:</label>
        <input type="text" id="new" [(ngModel)]="newPassword" name="newPassword">

        <label for="reNew">Re-enter new password:</label>
        <input type="text" id="reNew" [(ngModel)]="rePassword" name="rePassword">

        <button mat-button id="submitButton" type="submit">Submit</button>
    </div>
</form>
