label{
    margin-left: 2%;
    margin-top: 2%;
    width: 500px;
}

h1{
    margin-left: 18%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
}

input{
    margin-left: 2%;
    margin-top: 2%;
    width: 400px;
}

#submitButton{
    margin-left: 20%;
    margin-top: 2%;
    background-color: indigo;
    color: honeydew;
    border: none;
    margin-top: 5%;
}

button{
    margin-top: 15%;
    width: 200px;
}

img{
    width: 150px;
    height: 150px;
    margin-bottom: 5%;
}

form {
    position :static;
    width  : 600px;
    margin-left: 30%;
    padding: 1em;
    box-sizing: border-box;
    background : white;
    color: black;
    margin-top: 20px;
  }

#uploadForm{
    display: inline-block;   
    width: 600px;
}

#basics{
    width: 200px;
}
