<mat-card> 
    <mat-card-content>
      <form novalidate class="form-inline">
          <div class="container">
              <div class="row">
      
                <table >
                  <thead>
                  <tr> 
                    <th >Service </th>
                    <th >Info </th>
                    <th >Price</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let s of services">
                    <td>{{s.name}}</td>
                    <td>{{s.info}}</td>
                    <td>{{s.price}}</td>
                    <td><button (click) = "add(s)">Add</button></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
      </form> 
    </mat-card-content>
  </mat-card>
  
