.title{
    position:relative;
    margin-left: 10%;
}

button{
    color: white;
    background: indigo;
    border-radius: 1rem;
    border: none;
    width: 170px;
    height: 35px;
    margin-left: 5px;
    font-weight: bold;
    margin-top: 7px;
}

.search-hero{
    margin-bottom: 40px;
}

#addBtn{
    margin-bottom: 20px;
    width: 180px;
}

#starsRow{
    display: inline-block;
    text-align: left;
}

#eyeBtn{
    color: white;
    background: indigo;
    border-radius: 1rem;
    border: none;
    width: 85px;
    height: 40px;
    margin-left: 30px;
    font-weight: bold;
    margin-top: 7px;
}

#eyeBtnNewBooking{
    color: white;
    background: indigo;
    border-radius: 1rem;
    border: none;
    width: 100px;
    height: 40px;
    margin-left: 30px;
    font-weight: bold;
    margin-top: 7px;
}

#eyeBtnDetails{
    color: white;
    background: indigo;
    border-radius: 1rem;
    border: none;
    width: 110px;
    height: 40px;
    margin-left: 30px;
    font-weight: bold;
    margin-top: 7px;
}

#eyeBtnDisabled{
    color: white;
    background: rgb(200, 168, 223);
    border-radius: 1rem;
    border: none;
    width: 80px;
    height: 35px;
    margin-left: 30px;
    font-weight: bold;
    margin-top: 7px;
}

mat-card{
    margin: 2% 10% 10% 10%;
}

input,select{
    border-color: indigo;
    border-width: 2px;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    width: 250px;
}

table {
    width: 100%;
}

.mat-sort-header-container {
  align-items: center;
}

#row br{
    display: block;
}
  